.login-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.loading-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-title {
    font-size: 14px;
    font-weight: 600;
    color: #5d5d5d;
}



.container {
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



.inp {
    width: 350px;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
}


.login-input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #5d5d5d;
    border-radius: 10px;
    outline: none;
    transition: .4s;
    color: #5d5d5d;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: bold;
}

.login-input-password {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #5d5d5d;
    border-radius: 10px;
    outline: none;
    transition: .4s;
    color: #5d5d5d;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    font-weight: bold;
}

.password-eye {
    position: absolute;
    right: 20px;
    cursor: pointer;
}


.login-label {
    position: absolute;
    left: 20px;
    color: #5d5d5d;
    height: 20px;
    transform: translateY(2.5px);
    padding-left: 5px;
    cursor: text;
    padding-right: 5px;
    transition: .2s;
    font-size: 14px;
    pointer-events: none;
    padding-bottom: 25px;
}

/* .login-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset; 
    -webkit-text-fill-color: none; 
} */


.login-input:-webkit-autofill,
.login-input:-webkit-autofill:hover,
.login-input:-webkit-autofill:focus,
.login-input:-webkit-autofill:active {
    -webkit-box-shadow: none;
    /* Ensuring the text color remains consistent with non-autofilled input */
    -webkit-text-fill-color: #5d5d5d;
    transition: background-color 5000s ease-in-out 0s;
}




/* .login-input:focus {
    border: 2px solid #5d5d5d;
    box-shadow: #0044617f 0px 1px 1px, #004461 0px 0px 0px 1px;
} */

.login-input:focus + label {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: black;
    border-radius: 8px;
}

.login-input-password:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset; /* Set a white background */
    -webkit-text-fill-color: none; /* Set the text color */
}

.login-input-password:focus {
    border: 2px solid #5d5d5d;
    box-shadow: #0044617f 0px 1px 1px, #004461 0px 0px 0px 1px;
}

.login-input-password:focus + label {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: black;
    border-radius: 8px;
}


.up {
    left: 20px;
    transform: translateY(-22px);
    font-size: 12px;
    background-color: black;
}

.login-btn {
    width: 350px;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background-color: #ea580c;
    border: none;
    border-radius: 50px;
    outline: none;
    transition: .4s;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Figtree', sans-serif;
}

.login-btn:hover {
    background-color: #C2410C;
}


.forgot-password-signup {
    color: #bbbbbb;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Figtree', sans-serif;
}

.forgot-password-signup:hover {
    text-decoration: underline;
}

.login-pic {
    width: 70px;
}